@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Share+Tech+Mono&display=swap');
/* Google Fonts import*/

/*
Still deciding about fonts: Open Sans or Roboto
Text should use Share Tech Mono for impact.
*/

:root {
    /*Accessible using var(--etc);*/
    --primary-color: #A7A9AC;
    --primary-light-color: #EEEEEE;
    --primary-dark-color: #22272B;
    /*font should use accent color with primary dark.*/
    --primary-font-color: #000000;
    --accent-font-color: #ccac55;
    --secondary-color: #005288;
    --secondary-dark-color: #002A5B;
    --secondary-font-color: #ffffff;
    --reference-text-color: #c30d54;
    --reference-background-color: #000033;
    --menu-width: 20%;
    --menu-min-width: 150px;
    --margin-smallscreen: 0.5em;
    --margin-largescreen: 0.75em;
    --box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12);
    --box-shadow-2: 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    /* Basic Reset*/
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--primary-color);
}

body {
    font-family: 'Open sans', 'Verdana', sans-serif;
    width: 71%;
    min-width: 964px;
    height: 100%;
    /*964px @ 1024 wide screen*/
    background-color: white;
    margin: 0 auto;
    /* Centralize content*/
    box-shadow: var(--box-shadow-1), var(--box-shadow-2);
}

header {
    background-image: url("../images/arabsat-6a.jpg");
    background-position: center -175px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 180px;
    padding: 1em var(--margin-largescreen);
    box-shadow: var(--box-shadow-1), var(--box-shadow-2);
    color: var(--secondary-font-color);
    font-family: 'Share tech mono', monospace;
    text-align: right;
    letter-spacing: 1em;
}

main {
    width: 100%;
    display: flex;
}

article {
    margin: var(--margin-largescreen);
    width: 61%;
    font-family: 'Roboto', sans-serif;
}

footer {
    clear: both;
    text-align: center;
    border-top: 2px solid var(--accent-font-color);
    background: var(--primary-dark-color);
    color: var(--secondary-font-color);
    font-family: 'Share tech mono', monospace;
    padding: var(--margin-largescreen);
    font-size: 90%;
}

a:link, a:visited {
    color: var(--accent-font-color);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--accent-font-color);
    font-weight: bold;
}

nav {
    font-family: 'Share tech mono', monospace;
    color: var(--accent-font-color);
    background: var(--primary-dark-color);
    padding: var(--margin-smallscreen);
    box-shadow: var(--box-shadow-1), var(--box-shadow-1);
}

#nav_menu ul {
    list-style: none;
    position: relative;
}

#nav_menu ul li {
    float: left;
    width: 33%;
    margin: 0 auto;
}

#nav_menu ul li a {
    display: block;
    min-width: 33%;
    padding: 0.5em 0;
    text-decoration: none;
    text-align: center;
    color: var(--accent-font-color);
    background-color: var(--primary-dark-color);
}

#nav_menu ul li a.current {
    color: var(--primary-font-color);
    background: var(--accent-font-color);
    font-weight: bold;
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    color: var(--primary-dark-color);
    background-color: var(--accent-font-color);
}

/* Second Level Menu*/

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    text-align: center;
    width: 312px;
}

#nav_menu ul ul li {
    float: none;
    position: relative;
    min-width: 258px;
    background-color: var(--primary-dark-color);
    text-decoration: none;
    text-align: center;
    color: var(--accent-font-color);
    box-shadow: var(--box-shadow-1), var(--box-shadow-2);
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}

#nav_menu ul ul li ul {
    position: absolute;
    left: 89%;
    /*Required due alignment*/
    top: 0;
}

#leftMenu {
    width: 25%;
    min-width: var(--menu-min-width);
    float: left;
    border-right: 2px solid var(--secondary-dark-color);
    padding: var(--margin-largescreen);
    font-size: 0.85em;
}

#leftMenu ol {
    padding: 0 var(--margin-smallscreen) 0.25em;
}

#leftMenu ol li {
    font-size: 95%;
    padding: 0 var(--margin-smallscreen) 0.25em;
}

#rightMenu {
    /*765px to the right and 230px from the top*/
    width: 25%;
    min-width: var(--menu-min-width);
    /*350px;*/
    float: right;
    border-left: 2px solid var(--secondary-dark-color);
    padding: var(--margin-largescreen);
    font-size: 0.85em;
}

#rightMenu ul {
    list-style: none;
}

#rightMenu ul li {
    margin-bottom: 0.25em;
    font-size: 95%;
    color: var(--accent-font-color);
}

#rightMenu ul li::before {
    padding-left: 0.25em;
    content: "> ";
    color: var(--accent-font-color);
}
